<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mysqlImpl" class="com.zyq.dao.UserDaoMysqlImpl"></bean>
    <bean id="oracleImpl" class="com.zyq.dao.UserDaoOracleImpl"></bean>

    <bean id="UserServiceImpl" class="com.zyq.service.UserService">
<!--
        ref: 引用Spring容器中创建好的对象
        value: 具体的值, 具体数据类型
-->
        <property name="userDao" ref="mysqlImpl"></property>
    </bean>

</beans>